body {
	//font-family: "Inconsolata", "Droid Sans Mono Slashed", "Droid Sans Mono", monospace;
	font-family: "Droid Sans", sans-serif;
	font-size: 11px;
}


.display {
	&.dis-auth, &.dis-fatal, &.dis-load {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.notice {
			position:fixed;
			top: 50%;
			left: 50%;
			text-align: center;
		}
	}

	&.dis-auth {
		background-image: linear-gradient(to bottom,#95BFF9,#3393BF);
		.notice {
			width: 16em;
			height: 7em;
			margin-left: -8em;
			margin-top: -7em;
			padding: 1em 0 0.2em;
			background-color: #eee;
			border: 1px solid #aaa;
			border-radius: 5px;
		}
	}
	&.dis-fatal {
		background-color: #eee;
		.notice {
			width: 22em;
			height: 26em;
			margin-left: -11em;
			margin-top: -14em;
			padding: 1em 0 0.2em;
			background-color: #F7D2D2;
			border: 1px solid #B70B0B;
			border-radius: 7px;
			h4 {
				margin: 0;
				padding: 0;
			}
			hr {
				margin: 3px 10px;
				border-top: none;
				border-color: #B70B0B;
			}
			p {
				font-family: "Inconsolata", "Droid Sans Mono Slashed", "Droid Sans Mono", monospace;
				font-size: 14px;
			}
		}
	}
	&.dis-load {
		//background-color: #81B4EF;
		background-image: linear-gradient(to bottom,#95BFF9,#3393BF);
		.notice {
			width: 16em;
			height: 6em;
			margin-left: -8em;
			margin-top: -7em;
			padding: 1em 0 0.2em;
			background-color: #eee;
			border: 1px solid #999;
			border-radius: 5px;
			font-weight: bold;
			.throbber {
				width: 100px;
				height: 10px;
				padding: 5px;
				margin: 0 auto 0;
				span {
					height: 10px;
					width: 10px;
					border: 1px solid #333;
					border-radius: 5px;
					display: inline-block;
					background-color: #eee;
					box-shadow: inset 0 -1px 1px rgba(0,0,0,0.4), inset -1px 0 1px rgba(0,0,0,0.4),
						inset 0 1px 1px rgba(255,255,255,0.6), inset 1px 0 1px rgba(255,255,255,0.6);
					margin: 2px 10px;
					&.pulse {
						background-color: #81B4EF;
					}
				}
			}
		}
	}

	&.dis-client {
		@headerHeight: 57px;
		@toolbarHeight: 28px;
		@footerHeight: 20px;
		@whoamiWidth: 84px;
		@navWidth: 40px;
		@bgColor: #91BFEA;
		@subColor: #E3EAED;
		@subBorder: #7881BF;
		header, footer, .toolbar, .main, .l, .r {
			overflow: hidden;
			position: absolute;
		}

		.nib {
			position: relative;
			top: 36px;
			left: @whoamiWidth;
			height: 11px;
			width: 8px;
			background-repeat: no-repeat;
			display: block;
			background-image: data-uri('../img/nib.png');
			z-index: 200;
		}

		.l.top, .r.top {
			top: 0;
			height: @headerHeight + @toolbarHeight;
		}

		.l.bottom, .r.bottom {
			top: @headerHeight + @toolbarHeight;
			bottom: 0;
		}

		.l {
			left: 0;
			background-color: @bgColor;
			width: @whoamiWidth;
		}

		.l.top {
			.whoami {
				@size: 76px;
				width: @size;
				height: @size;
				border-radius: @size / 2;
				background-color: rgba(94, 94, 119, 0.2);
				margin: 4px 3px 3px 4px;
				padding: 1px;
				img.avatar {
					@isize: @size - 2px;
					background-color: #fff;
					border-radius: @isize / 2;
					border: 1px solid #6880A5;
					//margin: 1px;
					width: @isize;
					height: @isize;
				}
			}
		}

		.l.bottom {
			width: @navWidth;
			nav {
				ul {
					position: absolute;
					top: 0;
					left: 0;
					list-style-type: none;
					margin: 1px;
					li {
						@size: 30px;
						margin: 6px 4px;
						width: @size;
						height: @size;
						background-color: #9895B2;
						color: transparent;
						border-radius: 15px;
						&:hover {
							background-color: #9A98BA;
						}
					}
				}
				ul.bottom {
					top: auto;
					bottom: 0px;
				}
			}
		}

		.r.top {
			left: @whoamiWidth;
			right: 0;
			header, .toolbar, .main, footer {
				left: 0;
				right: 0;
			}

			header {
				top: 0;
				height: @headerHeight;
				background-color: @bgColor;
				box-sizing: border-box;
				padding: 7px 5px 4px 6px;

				textarea#pingText {
					height: 100%;
					width: 100%;
					box-sizing: border-box;
					resize: none;
					font-size: 11px;

					// disable transition
					transition: none;
				}

				textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
					// no effects!
					border: 1px solid #ccc;
					box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				}

				textarea::-webkit-input-placeholder {
					//color: #444;
					font-style: italic;
				}
			}

			.toolbar {
				top: @headerHeight;
				height: @toolbarHeight;
				background-color: @bgColor;
				padding: 0 10px;

				.btn-group {
					float: right;
					button {
						line-height: 18px;
						&#private {
							padding-left: 4px;
							padding-right: 4px;
						}
						&#ping {
							padding-left: 12px;
							padding-right: 12px;
						}
					}
				}
				span#charcount {
					float: left;
					font-size: 18px;
					display: inline-block;
					margin-top: 1px;
				}
				&:after { clear: both; }
			}
		}

		.r.bottom {
			left: @navWidth;
			right: 0;
			.corner, .inside {
				position: relative;
				left: 0;
				height: 6px;
				width: 6px;
			}
			.corner {
				top: 0;
				background-color: @bgColor;
				z-index: 50;
				.inside {
					top: 0;
					border-top-left-radius: 6px;
					border-top: 1px solid @subBorder;
					border-left: 1px solid @subBorder;
					background-color: @subColor;
					z-index: 40;
				}
			}

			.main {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 15;
				border-top: 1px solid @subBorder;
				border-left: 1px solid @subBorder;
				.column {
					top: 0;
					bottom: 0;
					overflow-y: scroll;
					background-color: @subColor;
					.entry {
						background-color: @subColor;
						color: #fff;
						position: relative;
						width: 100%;
						margin-top: 18px;
						margin-bottom: 20px;
						&.reping {
							margin-bottom: 32px;
						}

						.who { font-weight: bold; }
						.post {
							position:relative;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 3px;
							margin: 26px 6px 15px 30px;
							color:#333;
							background-color: #eee;
							border: 1px solid #aaa;
							border-radius: 6px;
							z-index: 20;
							.meta {
								margin-left: 20px;
							}
							p { margin: 2px 0 0 16px; }
							box-shadow: inset 0 -1px 2px rgba(0,0,0,0.14), inset -1px 0 2px rgba(0,0,0,0.14);
						}

						.controls {
							position: absolute;
							top: 0;
							right: 10px;
							//height: 20px;
							z-index: 25;

							a {
								margin: 2px;
								display: block;
								opacity: 0.5;
								&:hover {
									opacity: 1.0;
								}
							}

							button {
								@size: 26px;
								height: @size;
								width: @size;
								border-radius: @size / 2;
								border: 1px solid #AAAAAA;
								//background-image: linear-gradient(to bottom,#f9f9f9,#e5e5e5);
								box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1), inset -1px 0 1px rgba(0,0,0,0.1);
								padding: 3px 5px;
								margin-left: 3px;
							}
						}

						.ping-profile {
							position: absolute;
							top: -20px;
							bottom: 0;
							left: 5px;

							@size: 44px;
							border-radius: (@size - 2) / 2;
							margin: 3px;
							width: @size;
							height: @size;
							background-color: rgba(170,170,170, 0.5);
							z-index: 30;

							img.avatar {
								background-color: #fff;
								@isize: @size - 4px;
								border-radius: @isize / 2;
								border: 1px solid #aaa;
								width: @isize;
								height: @isize;
								margin: 1px;
								z-index: 40;
							}

							&.mentioned {
								background-color: rgba(204, 51, 51, 0.5);
								img.avatar {
									border-color: #c33;
								}
							}
							&.self {
								background-color: rgba(122, 201, 122, 0.5);
								img.avatar {
									border-color: #7AC97A;
								}
							}
						}

						.reping-profile {
							position: absolute;
							top: 26px;
							bottom: 0;
							left: 13px;

							@size: 28px;
							border-radius: (@size - 2) / 2;
							margin: 3px;
							width: @size;
							height: @size;
							background-color: rgba(170,170,170, 0.5);
							z-index: 25;

							img.avatar {
								background-color: #fff;
								@isize: @size - 4px;
								border-radius: @isize / 2;
								border: 1px solid #aaa;
								width: @isize;
								height: @isize;
								margin: 1px;
								z-index: 28;
							}

							&.mentioned {
								background-color: rgba(204, 51, 51, 0.5);
								img.avatar {
									border-color: #c33;
								}
							}
							&.self {
								background-color: rgba(122, 201, 122, 0.5);
								img.avatar {
									border-color: #7AC97A;
								}
							}
						}
					}

					&::-webkit-scrollbar {
						width: 8px;
					}

					&::-webkit-scrollbar-track {
						background-color: @subColor; // @todo change to normal bg color for .main
					}

					&::-webkit-scrollbar-thumb {
						border-radius: 3px;
						background-color: #999;
						border: 1px solid #aaa;
						-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
					}

					.stretch {
						height: 800px;
						background-color: @subColor;
					}
				}
			}

			footer {
				height: @footerHeight;
				left: 0;
				right: 0;
				bottom: 0;
				font-size: 11px;
				font-weight: bold;
				text-align: center;
				margin: 0 10px;
				border-radius: 3px 3px 0 0;
				//border-left: 1px solid @subBorder;
				padding: 0 4px;
				z-index: 25;
				color: rgba(51, 51, 51, 0.4);
				background-color: rgba(173, 173, 173, 0.4);
			}
		}
	}
}

.length {
	color: #6666AD;
	&.lengthWarn {
		font-weight: bold;
	}
	&.lengthOver {
		color: #F71D1D !important;
		font-weight: bold;
	}
}
